body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

code {
  font-family: "Inter", sans-serif, monospace;
}

a {
  text-decoration: none;
  color: linear-gradient(#733d97, #512957, #831b77);
}

* {
  box-sizing: border-box;
}
